footer{
    padding: 10px;
    text-align: center;
    position:fixed;
    bottom:0;
    width: 100%;
}

.social a{
    color: var(--font-color);
    text-decoration: none;
    font-size: 19px;
}

.social a:hover{
    color: var(--hover);
}